<p class="is-size-5 {{#if highlight1}}has-background-grey-lighter{{/if}}">➀ Roles</p>
<p class="is-size-5 {{#if highlight2}}has-background-grey-lighter{{/if}}">➁ Groups</p>
<p class="is-size-5 {{#if highlight3}}has-background-grey-lighter{{/if}}">➂ App Instances</p>
<p class="is-size-5 {{#if highlight4}}has-background-grey-lighter{{/if}}">➃ Finalize</p>