<p class="is-size-5 {{#if highlight1}}has-background-grey-lighter{{/if}}">① Roles</p>
<p class="is-size-5 {{#if highlight2}}has-background-grey-lighter{{/if}}">② App Instances</p>
<p class="is-size-5 {{#if highlight3}}has-background-grey-lighter{{/if}}">③ Finalize</p>