.tab-content {
    margin-top: 20px;
}

.nav-item span {
    font-size: 1.25rem;
}

.nav-link span {
    color: #4a4a4a;
}

.nav-link.active span {
    color: #FF4F1F;
}

.checkbox {
    cursor: pointer;
}

button.delete:hover {
    color: #FF4F1F;
}
/* 
.file-input{
    display: none;
}

.file {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.file-cta {
    height: 40px;
    border-radius: 25px;
    border-color: #FF4F1F !important;
    color: #FF4F1F !important;
    background-color: #fff !important;    
    border: 2px solid #FF4F1F;
}



.file-cta:hover {
    height: 40px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
}

.file-label.btn {
    margin-bottom: 10px;
}

.file-label {
    align-items: stretch;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

.file-input {
    height: 100%;
    left: 0;
    opacity: 0;
    outline: 0;
    position: absolute;
    top: 0;
    width: 100%;
} */