@import "loader.css";
@import "edit-listing.css";
@import "../../../landing-page/style.css";

.genOrange{
    color: #FF4F1F;
}

.loading-text {
    font-size: 32px;
}

.label {
    color: #FF4F1F;
}

a {
    color: #FF4F1F;
}

.form-label {
    color: #FF4F1F;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.div-section {
    display: flex;
    overflow: auto;
}

.div-info {
    flex-grow: 50;
    margin: 20px;
}

.control-selling-party {
    display: flex;
    flex-direction: column;
}

.radio {
    margin-left: 10px;
}

.radio+.radio {
    margin-left: 10px;
}

.btn {
    height: 40px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
}

.btn:hover {
    height: 40px;
    border-radius: 25px;
    border-color: #FF4F1F !important;
    color: #FF4F1F !important;
    background-color: #fff !important;    
    border: 2px solid #FF4F1F;    
}

.btn:focus {
    box-shadow: 0 0 0 0 !important;
    border-color: #FF4F1F !important;
}

.btn.is-light {
    height: 40px;
    border-radius: 25px;
    border-color: #FF4F1F !important;
    color: #FF4F1F !important;
    background-color: #fff !important;    
    border: 2px solid #FF4F1F;   
}

.btn.is-light:hover {
    height: 40px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
}

.app-hardwareAddons.div-info {
    margin: 10px;
}

.textarea:focus {
    border-color: #FF4F1F !important;
    box-shadow: 0 0 0 0 !important;
}

.input:focus {
    border-color: #FF4F1F !important;
    box-shadow: 0 0 0 0 !important;
}

.field.is-grouped {
    margin: 20px 0px;
}

.checkbox {
    margin-left: 10px;
}

.help.is-danger {
    color: #FF4F1F !important;
}

.is-danger.input {
    border-color: #FF4F1F !important;
}

.preview-image img {
    max-height: 100px;
}

.use-case {
    margin-bottom: 10px;
}

#btn-add-useCase {
    margin-bottom: 10px;
}

#app-useCases {
    margin-left: 20px;
}

.useCase-title {
    margin-bottom: 10px;
}

.useCase-benefits {
    height: 13em !important;
}

.card-content {
    padding: 1rem !important;
}

.card-header-icon {
    align-items: flex-end !important;
    padding: 0px !important;
    justify-content: flex-end !important;
}


/* Hide by default */
.preview-loading {
    display: none;
    margin-left: 20px;
}

.devfoundry-comment-notif {
    color: #9bb;
    display: none;
}

.devfoundry-note {
    background-color: #faffff;
}

.information-box {
    background-color: #f5ffff;
}

div#hero {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #5d3e5d;
}

div#hero a {
    color: #FFFFFF;
}

div#hero a:hover {
    background-color: #755175;
}

div#hero img {
    max-height: 1rem;
}

div#hero div.hero-body {
    padding: 1.5rem;
}

div#hero .logo-container{
    display:flex
}

div#hero .refresh-container a{
    justify-content: center;
}

div#hero a{
    padding: 18px 10px;
    display:flex
}

div.listing-card {
    margin-bottom: 20px;
}

#second-refresh {
    padding: 14px;
    padding-right: 22px;
}

.md-format-text {
    font-size: 0.65em;
    text-decoration: underline;
    color: rgb(255, 124, 88);
}

.tabs .is-active a{
    color: #FF4F1F !important;
}

.tabs a{
    color: #4a4a4a !important;
}

.control-applicationLocation {
    display: flex;
    flex-direction: column;
}

.control-regionalOAuthGrantType {
    display: flex;
    flex-direction: column;
}

#p-app-icon {
    margin-left: 20px;
}

.note-from {
    float: left;
    width: 50%;
}

.note-time {
    float: right;
    text-align: right;
    width: 50%;
}

.devfoundry-note-message {
    margin-left: 10px;
}

#preview-listing-iframe {
    width: 100%;
    height: 800px;
}