<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Checking Installation
      </h1>
      <h2 class="subtitle">
        Check any existing PureCloud Objects that is set up by the App.
      </h2>
    </div>
  </div>
</section>

<div>
    <p>
        We're currently verifying if it's safe to start the installation process.
    </p>
    <p>
        Purecloud objects that is in use of the app will be labeled with the prefix 
        <strong>{{objectPrefix}}</strong>.
        This can be changed in the WizardApp class.
    </p>
</div>
<div id="results-group"></div>
<div id="results-role"></div>
<div id="results-integration"></div>