<h1 class="title">App Setup Wizard</h1>
<p class="subtitle is-size-6">Welcome! This Wizard will assist you in the installation, modification, or removal of the Premium App.</p>

<div id="unauthorized">
    <article class="message is-warning">
        <div class="message-header">
            <p>Warning</p>
        </div>
        <div class="message-body">
            Your PureCloud user lacks the required permission(s) to proceed with the wizard.
        </div>
    </article>
</div>

<div id="authorized">
    <table>
        <thead>
            <th></th>
        </thead>
    </table>
</div>