<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <th>Org Feature</th>
        <th>Enabled</th>
    </thead>
    <tbody>
        {{#each features}}
            <tr>
                <td>{{@key}}</td>
                <td>{{this}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>


<nav class="level">
  <div class="level-left"></div>
  
  <div class="level-right">
    <p class="level-item">
      <button id="btn-check-installation"class="button is-info has-text-centered is-size-4">
        Start Wizard
      </button>
    </p>
  </div>
</nav>