<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        App Setup Wizard
      </h1>
      <h2 class="subtitle">
        Welcome! This Wizard will assist you in the installation, modification, or removal of the Premium App.
      </h2>
    </div>
  </div>
</section>

<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <th>Org Feature</th>
        <th>Enabled</th>
    </thead>
    <tbody>
        {{#each features}}
            <tr>
                <td>{{@key}}</td>
                <td>{{this}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>


<nav class="level">
  <div class="level-left"></div>
  
  <div class="level-right">
    <p class="level-item">
      <button id="btn-proceed"class="button is-info has-text-centered is-size-4">
        Start Wizard
      </button>
    </p>
  </div>
</nav>