body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #4e5054;
    font-family: Roboto,sans-serif;
    background-color: #f4f4f6;
}

a {
    color: #FF4B23;
}

a:hover {
    color: #FF4B23;
    text-decoration: underline;
}

.listing-outer-container {
    max-width: 1200px;
    top: -250px;
}

.listing-path {
    color: #fff;
    margin-bottom: 10px;
    margin-left: 4px;
}

.listing-container {
    box-shadow: 0 1px 1px 1px #d5d5d5;
    border-radius: 5px;
    margin: 0 auto 40px;
    background-color: #fff;
    font-weight: 300;
}

.listing-left-container {
    padding: 50px;
}

.listing-right-container {
    border-left: 1px solid #e6e6e6;
    background-color: #f4f4f6;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px;
}

.listing-right-container .columns {
    margin-bottom: 0;
}

.listing-right-container .columns .column{
    padding-bottom: 0.5rem;
}

.background-hero {
    height: 240px;
    background: linear-gradient(to top,#ff682c,#ea4712);
}

.listing-name {
    font-weight: 700;
}

.listing-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.logo{
    max-width: 130px;
    width: 100%;
}

.tabs {
    font-size: 14px;
}

.tabs ul{
    border-bottom-style: none;
}

.tabs a:hover {
    border-bottom-color: #fff;
    text-decoration: none;
    color: #b0b0b0;
}

.tabs li a{
    font-weight: 700;
    padding: 0 15px 4px 12px;
    border-bottom: 4px solid #fff;
    color: #b0b0b0;
}

.tabs li.is-active a {
    border-bottom: 4px solid #4e5054;
    color: #4e5054;
}

button.contact-us {
    height: 50px;
    border-radius: 25px;
    color: #fff;
    background-color: #FF4B23;
    border: 2px solid #FF4B23;
    font-size: 19px;
    margin: 0 auto 20px;
    width: 100%;
    outline: 0;
    transition-duration: .3s;
}

button.contact-us:hover {
    background-color: #fff;
    color: #FF4B23;
    border: 2px solid #FF4B23;
}

.additional-information {
    margin-top: 10px;
}

.carousel-container {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 20px;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.carousel-wrapper * {
    box-sizing: border-box;  
}

.carousel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-item {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-item.initial,
.carousel-item.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-item.prev,
.carousel-item.next {
  z-index: 800;
}

.carousel-item.prev {
    transform: translateX(-100%);
}

.carousel-item.next {
    transform: translateX(100%);
}

.carousel-circle {
    padding: 0;
    margin: 0 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #FF4B23;
    background: #fff;
    cursor: pointer;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

.carousel-circle:focus {
    outline: 0;
}

.carousel-circle:hover {
    background: #FF4B23;
}

.carousel-circle.active {
    width: 32px;
    border-radius: 25px;
}

.product-details {
    border: 1px solid #eee;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

.hardware {
    margin-bottom: 20px;
}

.additional-info {
    display: flex;
}

.item {
    margin: 5px 20px;
    padding: 5px;
}

.use-case-header {
    font-weight: 700;
}

.use-case-title {
    background-color: #fff;
    color: #FF4B23;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-weight: 700;
}

.use-case-title::before{
    font-size: 11px;
    content: '⯆ ';
}

.use-case-title.active::before {
    font-size: 11px;
    content: '⯅ ';
}

.use-case-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/** 
================================================================
                        MARKDOWN
================================================================
 **/
.markdown-container p {
    margin-bottom: 10px;
    font-size: 14px;
}

.markdown-container h1 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
}

.markdown-container h2 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
}

.markdown-container h3 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
}

.markdown-container ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.markdown-container ol {
    list-style-position: inside;
    margin-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}