<div style="margin-top: 20px;">
    <div class="content">
      <h3>Add New Instance</h3>
    </div>

    <div class="field">
      <label class="label">Instance Name</label>
      <div class="control">
        <input id="txt-instance-name" class="input" type="text" placeholder="Instance Name">
      </div>
    </div>

    <div class="field">
      <div id="rad-instance-type" class="control">
        <label class="radio">
          <input checked type="radio" value="standalone" name="instance-type">
          Stand Alone
        </label>
        <label class="radio">
          <input type="radio" value="widget" name="instance-type">
          Widget
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">URL</label>
      <div class="control">
        <input id="txt-instance-uri" class="input" type="text" placeholder="https://yourdomain.com/endpoint">
      </div>
    </div>

    <div class="field">
      <label class="label">Groups</label>
      <div class="control">
        <div class="select is-multiple">
          <select id="list-instance-groups" multiple size="4">
            {{#each groups}}
              <option value="{{this}}">
                {{this}}
              </option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button id="add-instance" class="button is-primary">Add Instance</button>
      </div>
      <div class="control">
        <button id="clear-details" class="button is-text">Clear</button>
      </div>
    </div>
</div>



<nav style="margin-top: 20px; border-top: 2px #CCC solid; padding-top: 20px;" class="level">
  <div class="level-left">
    <p class="level-item">
      <button id="btn-prev" class="button is-warning has-text-centered is-size-4">
        Back
      </button>
    </p>
  </div>
  
  <div class="level-right">
    <p class="level-item">
      <button id="btn-next" class="button is-info has-text-centered is-size-4">
        Next
      </button>
    </p>
  </div>
</nav>