<nav class="panel">
    <p class="panel-heading">
        {{panelHeading}} 
    </p>
    {{#each pureCloudObjArr}}
        {{#with this}}
            <a class="panel-block">
                <span class="panel-icon">
                    <i class="fas {{../icon}}" aria-hidden="true"></i>
                </span>
                {{name}}
            </a>
        {{/with}}
    {{else}}
        <div class="panel-block">
            <p>None</p>
        </div>
    {{/each}}

</nav>