/* 
*   Custom CSS-style adhering to the current (June 2018) version 
*   of the PureCloud App Foundry Style Guide
*       Found at: https://developer.mypurecloud.com/partners/
*/

body {
    color: #0F465D;
    font-family: Roboto,sans-serif !important;
    font-size: 14px;
}

div.field-title {
    color: #5D3D5D;
    font-size: 18px;
    width: 100px;
}

div.field-value {
    color: #4498B4;
    text-align: right;
}

div.floating{
    display: inline-block;
}

.secondary-font {
    font-family: Roboto,sans-serif;
}

div.test-area{
    margin-top: 10px;
    padding: 10px;
    background-color: #FFEAEA;
}

/* Addition to Bulma classes */

h1.title{
    color: #0F465D;
}

.subtitle{
    color: #1997CA;
}

option{
    left:0;
}

table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 0;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    font-weight: normal;
    padding-top: 10px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-left: 6px;
  }
  
  th, td {
    padding-top: 10px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-left: 6px;
  }

  button {
    border-radius: 5px 5px;
    padding: 15px 32px;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}

.btn-info {
    background-color:white !important; 
    border: 1px solid #FF4F1F !important;
    border-radius: 25px !important; 
    color: #FF4F1F !important; 
    border-width: 2px !important;
}

.btn-info:hover, .btn-info:focus {
    background-color:#FF4F1F !important; 
    border: 1px solid #FF4F1F !important;
    border-radius: 25px !important; 
    color: #FDFDFD !important; 
    border-width: 2px;
}

.right {
    float: right;
}

.left {
    float: left;
}

#txtSubscribe, #ddlQueues {
    font-family: Roboto,sans-serif;
    font-size: 16px;
}

.media-type-filter>span {
    color: #000000 !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 0 10px;
    min-height: 28px;
    padding: 8px 1px;;
}

.jumbotron {
    background-image: linear-gradient( to right, #5D3D5D, #FF4F1F);
    padding: 1rem !important;
    margin-bottom: 0px !important;
}

h1{
    color: white !important;
}

.welcome-text {
    font-size: 3.5rem !important;
    font-weight: 300;
    line-height: 1.2;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    padding: 0px 25px;
}