html {
    scroll-behavior: smooth;
}

.jumbotron {
    background-image: linear-gradient( to right, #5D3D5D, #FF4F1F);
    padding: 1rem !important;
    margin-bottom: 10px !important;
  }

h1 {
    color: white !important;
}

body {
    color: #000000;
    font-family: Roboto,sans-serif !important;
    font-size: 14px;
    margin: 0px;
}

.welcome-text {
    font-size: 3.5rem !important;
    font-weight: 300;
    line-height: 1.2;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    height: 40px;
    padding: 10px 32px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
    font-family: Roboto,sans-serif !important;
}

.btn-info {
    background-color:white !important; 
    border: 1px solid #FF4F1F !important;
    border-radius: 25px !important; 
    color: #FF4F1F !important; 
    border-width: 2px !important;
    outline: none !important;
}

.btn-info:hover, .btn-info:focus {
    background-color:#FF4F1F !important; 
    border: 1px solid #FF4F1F !important;
    border-radius: 25px !important; 
    color: #FDFDFD !important; 
    border-width: 2px;
}

.uninstall-button {
    color: white;
}

.content {
    margin: 0px 30px;
}

.content h1 {
    color: #000000 !important;
}

a {
    color: #FF4F1F; 
    text-decoration: none;
}

a:hover {
    color: #FF4F1F;
    text-decoration: underline;
}

a:visited {
    color: #5D3E5D;
}

img {
    width: 750px;
    margin-left: 45px;
    border: 1px solid #FF4F1F;
}

.img-app-menu {
    width: 250px;
}

.code-block {
    background-color: #D3D3D4;
    text-align: center;
    width: 25%;
    padding: 10px 0px;
}

pre {
    margin: 0px !important;
}

ul {
    margin: 0px;
}