<div style="margin-top: 20px" class="columns">
    <div class="column">
        <div class="field">
            <div class="control">
                <input id="txt-role-name" type="text" class="input" placeholder="Role Name">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <div class="control">
                <button id="btn-add-role" class="button is-primary"> Add Role</button>
            </div>
        </div>
    </div>
</div>



<nav style="border-top: 2px #CCC solid; padding-top: 20px;" class="level">
  <div class="level-left">
    <p class="level-item">
      <button id="btn-prev" class="button is-warning has-text-centered is-size-4">
        Back
      </button>
    </p>
  </div>
  
  <div class="level-right">
    <p class="level-item">
      <button id="btn-next" class="button is-info has-text-centered is-size-4">
        Next
      </button>
    </p>
  </div>
</nav>