{{#if fileName}}
    <article style="margin-top: 20px;" class="message is-primary">
        <div class="message-header">
            <p>Default Installation Order Found</p>
        </div>
        <div class="message-body">
            You're seeing this message because we have detected a default installation order from 
            <strong>{{fileName}}</strong>.
            We have prepopulated the page with the details but feel free to modify as you wish.
        </div>
    </article>
{{/if}}

<div id="purecloud-groups">
    {{#each groups}}
    <div class="box">
        <nav class="level">
            <div class="level-left">
                {{this}}
            </div>
            <div class="level-right">
                <a class="delete"></a>
            </div>
        </nav>
    </div>
    {{/each}}
</div>

