<div class="box">
  <div class="content is-medium">
    <p>
        Before starting, let's analyze your PureCloud org for existing App configurations.
    </p>
    <p>
        PureCloud objects that the App uses are prefixed with
        <strong>{{objectPrefix}}</strong>.
        This can be changed in the WizardApp class.
    </p>
    <p>
        For a clean installation, it is recommended to delete the existing Objects listed below to avoid duplication.
        <strong>Do not</strong> delete the curent role assigned to you though until the wizard has finished.
    </p>
    <p>
        If you would rather manage your existing App instances, please click the <strong>Manager</strong> button.
    </p>
  </div>
</div>

<div>
  <div style="margin: 20px; margin-bottom: 40px;" id="results-group">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    <em>Loading Groups data...</em>
  </div>
  <div style="margin: 20px; margin-bottom: 40px;" id="results-role">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    <em>Loading Roles data...</em>
  </div>
  <div style="margin: 20px; margin-bottom: 40px;" id="results-integration">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    <em>Loading Integrations data...</em>
  </div>
</div>

<nav class="level">
  <div class="level-left">
    <p class="level-item">
      <button id="btn-goto-manager"class="button is-info has-text-centered is-size-4">
        Go to App Manager
      </button>
    </p>
  </div>
  
  <div class="level-right">
    <p class="level-item">
      <button id="btn-start-wizard"class="button is-info has-text-centered is-size-4">
        Proceed with Installation
      </button>
    </p>
  </div>
</nav>



<div id="modal-deleting" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h1 class="is-size-2 has-text-centered has-text-grey-light">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> Deleting...
      </h1>
    </div>>
  </div>
</div>