<article class="message is-warning">
    <div class="message-header">
        <p>Warning</p>
    </div>
    <div class="message-body">
        Your PureCloud user lacks the required permission(s) to proceed with the wizard.
    </div>
</article>
