<div id="purecloud-roles">
    {{#each roles}}
    <div class="box is-radiusless is-marginless">
        <div>
            <label for="" class="checkbox">
                <input type="checkbox" name="" id="{{name}}" checked>
                Assign to Me
            </label>
        </div>
        
        <div>
            <strong>
                {{name}}
            </strong>
        </div>
        <div>
            <em>Permissions:</em> {{#each permissions}} "{{this}}". {{/each}}
        </div> 
    </div>
    {{/each}}
</div>

