<!--①②③④⑤⑥⑦⑧⑨⑩ -->
<div class="columns">
    <div id="wizard-left" class="column is-one-quarter"></div>
    <div class="column">
        <div id="wizard-content"></div>
        <div id="wizard-control"></div>
    </div>
</div>