/* 
*   Custom CSS-style adhering to the current (June 2018) version 
*   of the PureCloud App Foundry Style Guide
*       Found at: https://developer.mypurecloud.com/partners/
*/

body {
    margin: 20px;

    color: #0F465D;
    font-family: “HelveticaNeue”, “Helvetica”, “Arial”, sans-serif;
    font-size: 14px;
}

div {
    padding: 5px 0 0 4px;
}

div.field-title {
    color: #1997CA;
    font-size: 18px;
    width: 100px;
}

div.field-value {
    color: #4498B4;
    text-align: right;
}

div.floating{
    display: inline-block;
}

.secondary-font {
    font-family: "Lato", “HelveticaNeue”, “Helvetica”, “Arial”, sans-serif;
}

div.test-area{
    margin-top: 10px;
    padding: 10px;
    background-color: #FFEAEA;
}

/* Addition to Bulma classes */

h1.title{
    color: #0F465D;
}

.subtitle{
    color: #1997CA;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}