/* 
*   Custom CSS-style adhering to the current (June 2018) version 
*   of the PureCloud App Foundry Style Guide
*       Found at: https://developer.mypurecloud.com/partners/
*/

body {
    padding: 20px;

    color: #4c4c4c;
    font-family: “HelveticaNeue”, “Helvetica”, “Arial”, sans-serif;
    font-size: 14px;
}

.secondary-font {
    font-family: "Lato", “HelveticaNeue”, “Helvetica”, “Arial”, sans-serif;
}