* {
  margin: 0px;
  padding: 0px;
  border: 0px;


  /* Variables */
  --sl-color-black: #000000;
  --sl-color-white: #ffffff;

  --sl-color-green: #437762;
  --sl-color-greenDark: #054a2e;

  --sl-color-greyLightest: #f6f7f9;
  --sl-color-greyLighter: #e4e4e6;
  --sl-color-greyLight: #c9cbce;
  --sl-color-grey: #72757e;
  --sl-color-greyDark: #484b51;

  --sl-color-red: #d63f24;

  /* Fonts */

  --sl-font-sansSerif: "proxima-nova", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  color: var(--sl-color-black);
  font-family: var(--sl-font-sansSerif);
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background: var(--sl-color-greyLightest);
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px 0px 2px 10px;
  background-color: var(--sl-color-white);
  box-shadow: 0px 2px 5px var(--sl-color-greyLighter);
}

.content {
  padding-top: 20px;
  padding-bottom: 40px;
  flex: 1 0 auto;
}

footer img {
  height: 40px;
  margin-left: 10px;
  float: right;
  margin: 0px 20px;
}

footer {
  /* margin-top: 50px; */
  padding-top: 10px;
  border-top: 2px solid var(--sl-color-greyLighter);
  background: var(--sl-color-white);
  height: 50px;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

#loading {
  color: var(--sl-color-greyLighter);
}

main {
  margin: auto;
  padding: 40px 20px;
  margin-top: 40px;
  width: 70%;
  min-width: 800px;
  text-align: center;
  background: var(--sl-color-white);
  overflow: hidden;

  border-radius: 30px 30px;
  box-shadow: 0px 0px 20px 8px var(--sl-color-greyLighter);
}

#main-text {
  display: none;
}

p {
  margin: 12px;
}

.success {
  color: var(--sl-color-green);
  margin: 6px;
}

.error {
  color: var(--sl-color-red);
}

.txt-product-available {
  color: var(--sl-color-green);
}

.fail {
  color: var(--sl-color-red);
}

.txt-available-message {
  text-align: left;
}

.reminder-list {
  text-align: left;
  padding-left: 30px;
}

/* Font awesmoe modifiers */
.enlarge {
  font-size: 2em;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.sink-more {
  margin-top: 25px;
}

/* Buttons */
button {
  border-radius: 100px;
  padding: 15px 32px;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  outline: 0;

  background-color: var(--sl-color-green);
  color: var(--sl-color-white);
}

button:hover {
  background-color: var(--sl-color-greenDark);
}

button.btn-prev {
  background-color: var(--sl-color-greyLight);
  color: var(--sl-color-grey);
}

button.btn-prev:hover {
  background-color: var(--sl-color-greyLightest);
  color: var(--sl-color-grey);
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Modal */

/* Progress */

.title {
  margin: 25px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: var(--sl-color-green);
  font-family: "Roboto", "Lato", "HelveticaNeue", "Helvetica", "Arial",
    sans-serif;
}

/* Message-box */
.message-container {
  display: flex;
  justify-content: center;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.message {
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px var(--sl-color-greyLighter);
}

.message-title {
  padding: 10px;
  color: var(--sl-color-green);
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.message-content {
  padding: 10px;
  padding-left: 32px;
  text-align: left;
}

hr {
  border-top: 2px solid var(--sl-color-green);
  margin-top: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: var(--sl-color-white);
}

#loading-container>img {
  width: 100px;
}

#loading-modal {
  display: block;
}

.modal {
  width: 400px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -200px;

  border-radius: 40px;
  text-align: center;
  z-index: 11;
}

.modal .logo {
  max-width: 200px;
}

.modal .modal-message {
  margin-top: 20px;
  font-size: 18px;
  color: var(--sl-color-black);
}

#summary-raw-data {
  border: 1px solid var(--sl-color-greyLighter);
  color: var(--sl-color-grey);
  margin-bottom: 25px;
  margin-top: 10px;
}

#summary-container {
  margin-top: 20px;
}

.provisioned-link {
  color: var(--sl-color-green);
  text-decoration: none;
}